<!-- templates/register.html -->
{% extends "base.html" %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Create an Account</h2>
      <form method="POST">
          {{ form.hidden_tag() }}
          <div class="mb-4">
              {{ form.username.label(class="form-label h5") }}
              {{ form.username(class="form-control", placeholder="Enter your username", autofocus=True) }}
              {% for error in form.username.errors %}
                  <div class="text-danger">{{ error }}</div>
              {% endfor %}
          </div>
          <div class="mb-4">
              {{ form.email.label(class="form-label h5") }}
              {{ form.email(class="form-control", placeholder="Enter your email") }}
              {% for error in form.email.errors %}
                  <div class="text-danger">{{ error }}</div>
              {% endfor %}
          </div>
          <div class="mb-4">
              {{ form.password.label(class="form-label h5") }}
              {{ form.password(class="form-control", placeholder="Enter your password") }}
              {% for error in form.password.errors %}
                  <div class="text-danger">{{ error }}</div>
              {% endfor %}
          </div>
          <div class="mb-4">
              {{ form.confirm_password.label(class="form-label h5") }}
              {{ form.confirm_password(class="form-control", placeholder="Confirm your password") }}
              {% for error in form.confirm_password.errors %}
                  <div class="text-danger">{{ error }}</div>
              {% endfor %}
          </div>
          <button type="submit" class="btn btn-primary btn-lg w-100">{{ form.submit.label.text }}</button>
      </form>
    </div>
  </div>
{% endblock %}