<!-- templates/user_profile.html -->
{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="{{ user.username }}'s profile picture" class="img-thumbnail mb-3" style="width: 200px; height: 200px;">
      <h3>{{ user.username }}</h3>
      <p>{{ user.bio }}</p>
      {% if current_user.is_authenticated and current_user.username == user.username %}
        <a href="{{ url_for('account') }}" class="btn btn-secondary btn-lg mt-2">Edit Profile</a>
      {% endif %}
    </div>
    <div class="col-md-8">
      <h3>My Lessons</h3>
      {% if videos %}
        <div class="list-group">
          {% for video in videos %}
            <a href="{{ url_for('video_detail', video_id=video.id) }}" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ video.title }}</h5>
                <small>{{ video.date_posted.strftime('%Y-%m-%d') }}</small>
              </div>
              <p class="mb-1">Price: ${{ video.price }}</p>
            </a>
          {% endfor %}
        </div>
      {% else %}
        <p>No lessons uploaded yet.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
